@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.nav {
background-color: rgb(104, 100, 100);
font-family: 'Outfit', sans-serif;
height: 50px;
color: white;
display: flex;
justify-content:space-between;
align-items: center;
padding-left: 20px;

}
.nav-titles {
border: 1px solid rgb(238, 171, 171);
}
.nav-links {
width: 400px;
display: flex;
justify-content:space-between;
align-items: center;
list-style: none;
margin-right: 20px;
}
.active {
color: rgb(243, 242, 241);
}
.btn {
background-color: rgb(98, 161, 161);
color: white;
box-shadow: 5px 4px 3px black;
}
.nav-links a:link, .nav-links a:visited, .nav-links a:active {
    text-decoration:none;
    /* color: grey; */
}